
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>FAQ's</title>
    <link rel="stylesheet" href="bootstrap/jquery-ui.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/js/home.js"></script>
    <style>
        h1 { padding: .2em; margin: 0; }
        #products { float:left; width: 400px; margin-right: 2em; }
        #cart { width: 230px; float: left; margin-top: 1em; }
        /* style the list to maximize the droppable hitarea */
        #cart ol { margin: 0; padding: 1em 0 1em 3em; }

        input[type=text] {
            background-color: #FFFFFF;
            border-style: solid;
            color: orangered;
            padding: 15px 32px;
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: large;
            margin: 5px;
            width: 70%;

            border: 2px solid gray;

        }
        input[type=text]:focus {
            background-color: #fff;
            border-bottom: 2px solid #5fbae9;
        }
        input[type=button], input[type=submit], input[type=reset]  {
            background-color: #56baed;
            border: none;
            color: white;
            padding: 15px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
            box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            margin: 5px 20px 40px 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
            background-color: #39ace7;
        }

        input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="MainCtrl" ng-init="displayfaq()" style="background:url(/bootstrap/img/portfoliobg.jpg) center top repeat;">
<hr>
<form class="container" action="home" method="post">
    <h2 align="center"><a><u>Frequently Asked Questions (FAQ)
            </u> </a>
        <button type="submit" class="btn btn-primary pull-right">LOGOUT(Admin)</button></h2>
</form>

<hr>
<div class="container">
    <h3 align="center"><a><u>Edit FAQ</u></a> </h3>
    <form action="updated" method="post">
        <div class="form-group">
            <div align="center" class="col-md-8">
                <input type="hidden" value="<%=question%>" name="ques">
                <input type="hidden" value="<%=answer%>" name="ans">
                <input class="form-control"  type="text" name="question" placeholder="Type Question Here?" value="<%=question%>"><br>
                <textarea class="form-control"  name="answer" style="border: 2px solid gray;width: 70%;font-size: large; height: 20%;padding: 25px;color:green" type="text" placeholder="Answer Here"><%=answer%></textarea>
                <br><input type="submit"  class="btn btn-primary" value="UPDATE FAQ">
            </div>
        </div>
    </form>
</div>
<br>
<div style="padding-bottom: 80px">
    <br>
</div>
<div class="container">
    <h4><span>Email:<a>vinod568312@gmail.com</a></span></h4>
    <h4><span>Phone No:<a>9738582265</a></span></h4>
</div>
<div style="padding-bottom: 10px">
    <br>
</div>
</body>
</html>